<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Up" value="Up"/>
    <add key="Down" value="Down"/>
    <add key="Left" value="Left"/>
    <add key="Right" value="Right"/>
    <add key="SnakeSpeed" value="10"/>
    <add key="GameObjectSizeX" value="16"/>
    <add key="GameObjectSizeY" value="16"/>
    <add key ="ImagesLinks" value="https://cdn.pixabay.com/photo/2015/02/28/15/25/rattlesnake-653642_960_720.jpg;https://cdn.pixabay.com/photo/2011/05/14/20/49/basilisk-rattlesnake-7304_960_720.jpg;https://cdn.pixabay.com/photo/2012/03/02/00/34/anatomy-20758_960_720.jpg;https://cdn.pixabay.com/photo/2014/11/23/21/22/green-tree-python-543243_960_720.jpg;https://cdn.pixabay.com/photo/2014/10/25/00/17/snake-501986_960_720.jpg"/>
  </appSettings>
</configuration>
