<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Up" value="Up"/>
    <add key="Down" value="Down"/>
    <add key="Left" value="Left"/>
    <add key="Right" value="Right"/>
    <add key="SnakeSpeed" value="10"/>
    <add key="GameObjectSizeX" value="16"/>
    <add key="GameObjectSizeY" value="16"/>
  </appSettings>
</configuration>
