<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Up" value="W"/>
    <add key="Down" value="S"/>
    <add key="Left" value="A"/>
    <add key="Right" value="D"/>
    <add key="SnakeSpeed" value="60"/>
    <add key="GameObjectSizeX" value="16"/>
    <add key="GameObjectSizeY" value="16"/>
  </appSettings>
</configuration>
